<div class="container d-flex justify-content-center p-3">
  <form
    *ngIf="userId > 0"
    [formGroup]="forgetPasswordForm"
    (submit)="onUpdatePassword(userId)"
  >
    <div class="card p-4 shadow my-5">
      <h2 class="text-center my-3">Change password</h2>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
        />
        <small
          *ngIf="
            forgetPasswordForm.get('password')?.invalid &&
            forgetPasswordForm.get('password')?.touched
          "
          class="text-danger"
          >Password requared (minLength 6)</small
        >
      </div>
      <div class="mb-3">
        <label class="form-label" for="confirmPassword">Confirm password</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          name="confirmPassword"
          formControlName="confirmPassword"
        />
        <small *ngIf="passwordMatchError" class="text-danger"
          >Password not match</small
        >
      </div>

      <button
        [disabled]="forgetPasswordForm.invalid"
        type="submit"
        class="btn btn-primary"
      >
        Submit
      </button>
    </div>
  </form>
  <form
    *ngIf="userId == 0"
    [formGroup]="checkEmailForm"
    (submit)="onCheckUsername()"
  >
    <div class="card p-4 shadow my-5">
      <h2 class="text-center my-3">Change password</h2>
      <div class="mb-3">
        <label for="username" class="form-label">Email address</label>
        <input formControlName="username" type="email" class="form-control" />
        <small
          *ngIf="checkEmailForm.get('username')?.invalid"
          class="text-danger"
          >Invalid format</small
        >
      </div>
      <div class="mb-3">
        <a href="/login" class="text-decoration-none mx-4">Login</a>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
